.home {
	.layout {
		display: flex;
		overflow: hidden;
	}

	.layout-max > div {
		height: 100vh;
	}

	.layout-max {
		.chat-group-sidebar {
			height: 100vh;
		}

		.channel {
			height: 100vh;
		}
	}
}
