.home {
	.layout {
		display: flex;
		overflow: hidden;
	}

	.layout-max > div {
		height: 100vh;
	}

	.layout-max {
		.chat-group-sidebar {
			height: 100vh;
		}

		.channel {
			height: 100vh;
		}
	}

	.chat-parent {
		display: flex;
		width: 100%;

		.chat-empty {
			background: #212529;
			color: white;
			height: 100%;
			width: 100%;
			font-family: 'Work Sans', sans-serif;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			p {
				font-size: 1.2rem;
				font-weight: 500;
				opacity: 0.5;
			}

			svg {
				height: 50%;
				margin-bottom: 2rem;
			}
		}
	}
}
