.channel-info {
	height: 100%;
	width: 30%;
	color: white;
	font-family: 'Work Sans', sans-serif;
	padding: 1.5rem;
	border-left: 1px solid #3d3d3d;
	overflow-y: scroll;

	.top {
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
		margin-bottom: 1rem;

		svg {
			transition: 0.2s;
		}

		svg:hover {
			cursor: pointer;
			opacity: 0.5;
		}
	}

	.announcements {
		h4 {
			font-weight: 500;
			color: #6b6e73;
		}

		p {
			margin-top: 2rem;
		}
	}

	.members {
		margin-top: 3rem;
		h4 {
			font-weight: 500;
			color: #6b6e73;
		}

		.member {
			margin-top: 1.5rem;
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			.name {
				margin-left: 0.7rem;
				color: #6b6e73;
				font-size: 0.9rem;
				font-weight: 500;
			}
		}
	}
}
