.account {
	width: 100%;
	.banner {
		background-color: #3e4756;
		width: 100%;
		height: 200px;
		box-sizing: border-box;
		padding: 2.5rem;
		display: flex;
		flex-direction: column;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='200' preserveAspectRatio='none' viewBox='0 0 1440 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1123%26quot%3b)' fill='none'%3e%3crect width='1440' height='200' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M157.62 147.52 a45.26 45.26 0 1 0 90.52 0 a45.26 45.26 0 1 0 -90.52 0z' fill='rgba(187%2c 134%2c 252%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M521.2898140844369 9.421016227752917L478.1649263821216 46.90890917718969 515.6528193315584 90.03379687950499 558.7777070338736 52.545903930068214z' fill='rgba(187%2c 134%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M819.03 101.37 a60.23 60.23 0 1 0 120.46 0 a60.23 60.23 0 1 0 -120.46 0z' fill='rgba(187%2c 134%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-1.7040403921619003 50.22566342398621L24.6620324793336 74.81242413886066 22.882720322712554 23.85959055249071z' fill='rgba(187%2c 134%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M275.11416456318824 141.5049997701546L328.24224118122777 138.72067525702386 272.3298400500575 88.37692315211507z' fill='rgba(187%2c 134%2c 252%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1038.98 132.62 a57.31 57.31 0 1 0 114.62 0 a57.31 57.31 0 1 0 -114.62 0z' fill='rgba(187%2c 134%2c 252%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1123'%3e%3crect width='1440' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-size: cover;

		div {
			display: flex;
			align-items: center;
		}

		.icon {
			font-size: 2rem;
			margin-left: 1rem;
		}

		h2 {
			font-size: 2.5rem;
			letter-spacing: 3px;
			text-transform: uppercase;
		}
	}
	.body {
		width: 80%;
		margin: 0 auto;
		margin-top: 1.2rem;

		.top {
			background-color: darken($color: gray, $amount: 25);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
			padding: 1.2rem;
			border-radius: 1.2rem;
			display: flex;
			align-items: center;

			.form-container {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			.change-avatar-root {
				.file-upload-root {
					transition: 0.3s;
					margin-top: 0.2rem;
					font-size: 1rem;
					display: flex;
					align-items: center;

					input {
						display: none;
					}
				}

				.file-upload-root:hover {
					cursor: pointer;
					color: #bb86fc;
				}
			}

			.top-top {
				display: flex;
				align-items: center;

				.username-container {
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					align-self: start;
				}

				.username {
					font-weight: 400;
					letter-spacing: 2px;
				}

				.verified {
					margin-left: 0.2rem;
					color: #4fbe19;
				}

				.user-email {
					h6 {
						font-weight: normal;
					}
				}

				.profile-info {
					padding-top: 3%;
				}
			}
			.avatar-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: auto 0 auto auto;
			}
			.avatar-icon {
				div {
					height: 4.5rem;
					width: 4.5rem;
				}
			}
		}

		.top-bottom {
			margin-top: 1.2rem;
			background-color: darken($color: gray, $amount: 10);
			padding: 1.2rem;
			border-radius: 0.4rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			h2 {
				width: 100%;
			}

			.row {
				width: 40%;
				margin-right: 1.5rem;
				margin-top: 1.5rem;

				p {
					margin-bottom: 1.2rem;
				}

				div {
					display: flex;

					p {
						margin-right: 1.2rem;
					}
				}

				.undo:hover {
					cursor: pointer;
				}
			}

			.input-field {
				color: white;
			}
		}
		button {
			background-color: #bb86fc;
			color: white;
			font-family: 'Poppins', sans-serif;
			font-weight: 700;
			margin-top: 2.5rem;
			width: 350px;
			height: 50px;
			border-radius: 1rem;
			border: none;
			outline: none;
			transition: 0.3s;
		}

		button:hover {
			cursor: pointer;
			background: white;
			color: #23272a;
		}
	}
}
