.dashboard {
	width: 100%;
	.home {
		height: 100%;
		width: 70%;
		background: #eeeeee;
		box-sizing: border-box;
		padding: 2rem;

		.notifications {
			width: 100%;
			border-radius: 0.5rem;
			height: 50%;
			background: #3e4756;
			box-sizing: border-box;
			padding: 1.5rem;
			display: flex;
			flex-direction: column;

			.content {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 1rem;
				.notification {
					width: 100%;
					background-color: #2b2e30;
					box-sizing: border-box;
					border: 1px solid black;
					padding: 1rem;

					display: flex;
					align-items: center;
					justify-content: space-between;

					.middle {
						display: flex;
						align-items: center;

						.read-p {
							margin-right: 1rem;
						}

						svg {
							margin-right: 1rem;
						}

						svg:hover {
							cursor: pointer;
							opacity: 0.8;
						}
					}

					p {
						font-weight: 300;
						font-size: 0.8rem;
					}
				}

				.read {
					opacity: 0.7;
				}
			}

			.top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				h3 {
					font-weight: 300;
					font-size: 1.3rem;
				}

				.refresh:hover {
					cursor: pointer;
				}
			}
		}
	}

	.friends {
		background: #eeeeee;
		height: 100%;
		width: 70%;
		color: black;
		.top {
			padding: 1rem;
			box-sizing: border-box;
			p {
				font-weight: 300;
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}

			form {
				display: flex;
				flex-direction: column;
				.text-input {
				}

				button {
					margin-top: 1rem;
					height: 35px;
					border: none;
					transition: ease-in-out 0.3s;
					background: #2b2e30;
					outline: none;
					color: white;
					font-weight: 300;
					font-size: 0.8rem;
				}

				button:hover {
					cursor: pointer;
					opacity: 0.7;
				}
			}
		}

		.content {
			padding: 1rem;
			height: 80%;
			.friend-list {
				height: 80%;
				display: flex;
				overflow-y: scroll;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;

				.friend {
					display: flex;
					flex-direction: column;

					width: 48%;
					padding: 1rem;
					box-sizing: border-box;
					margin-top: 1rem;
					height: 75px;
					color: white;
					background: #2b2e30;
					border-radius: 0.5rem;

					.friend-top {
						display: flex;
						align-items: center;

						h5 {
							margin-right: 1rem;
							font-size: 1rem;
							font-weight: 500;
						}

						P {
							margin-right: 1rem;
						}
					}

					h3 {
						margin-top: 0.5rem;
						font-weight: 300;
						font-size: 0.8rem;
					}

					transition: ease-in-out 0.2s;
				}

				.friend:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}
}
