.sidebar-footer {
	box-sizing: border-box;
	box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.2) inset;

	height: 7vh;
	width: 100%;
	padding: 1rem;
	z-index: 0;
	background: #2b2e30;
	display: flex;
	align-items: center;
	justify-content: space-around;

	.footer-icon {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 35px;
			height: 35px;
		}
	}
}
