.call-bar {
	background: #1c1c1f;
	width: 100vw;
	height: 60px;
	color: white;
	padding: 1rem;

	font-family: 'Work Sans', sans-serif;
	display: flex;
	justify-content: space-between;

	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			margin-top: 0.3rem;
			opacity: 0.5;
		}
	}
}
