body {
	width: 80vw;
}

.login__container {
	display: flex;
	max-width: fit-content;
	margin: 10rem auto;
	padding: 10%;

	input {
		display: flex;
		flex-flow: column wrap;
		padding: 8px 0;
	}

	button {
		cursor: pointer;
		color: white;
		background-color: #bb86fc;
		border: none;
		width: 100px;
		height: 2rem;
		padding: 0.5rem 1.8rem;
		margin-top: 10px;
		font-size: 0.9rem;
		border-radius: 10px;
		outline: none;
		box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);

		&:hover {
			filter: brightness(110%);
		}

		&:active {
			transform: translate(0, 0.3rem);
			box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
		}
	}
}
