.login__container {
	display: flex;

	width: 50%;
	border-radius: 0.5rem;
	margin: 0 auto;
	margin-top: 10%;
	height: 500px;
	padding: 1.5rem;
	box-sizing: border-box;
	flex-direction: column;
	background-color: white;
	color: black;

	h3 {
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	hr {
		width: 75%;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	// button {
	// 	cursor: pointer;
	// 	color: white;
	// 	background-color: #bb86fc;
	// 	border: none;
	// 	width: 100px;
	// 	height: 2rem;
	// 	padding: 0.5rem 1.8rem;
	// 	margin-top: 10px;
	// 	font-size: 0.9rem;
	// 	border-radius: 10px;
	// 	outline: none;
	// 	box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);

	// 	&:hover {
	// 		filter: brightness(110%);
	// 	}

	// 	&:active {
	// 		transform: translate(0, 0.3rem);
	// 		box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
	// 	}
	// }
}
