@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import './Navbar.scss';
@import './ChatGroup.scss';
@import './ErrorPage.scss';
@import './ChangeLog.scss';
@import './Home.scss';

@import './HomeApp/Account.scss';
@import './HomeApp/HomeApp.scss';
@import './Onboarding/Login.scss';
@import './Onboarding/Register.scss';
@import './Onboarding/ForgotPassword.scss';
@import './HomeApp/CreateGroup.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #212121;
	color: white;
	font-family: 'Poppins', sans-serif;
	max-width: 1440px;
	margin: 0 auto;
	padding: 1.2rem;
	font-size: 100%;
}
