.notif-popover {
	height: 50vh;
	background: #212529;
	color: white;
	width: 25vw;
	padding: 1rem;
	font-family: 'Work Sans', sans-serif;

	h4 {
		font-weight: 400;
	}

	.notifs {
		height: 100%;
		overflow-y: scroll;

		.notif {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			background: #141418;
			height: 125px;
			margin-bottom: 1rem;
			border-radius: 0.2rem;

			.left {
				width: 80%;

				.desc {
					font-size: 0.8rem;
					font-weight: 700;
					margin-bottom: 0.5rem;
				}

				.sub {
					opacity: 0.5;
					margin-bottom: 5px;
				}
			}

			.right {
				width: 20%;
				display: flex;
				justify-content: space-evenly;

				svg {
					margin-right: 1rem;
				}

				svg:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}

	::-webkit-scrollbar {
		width: 0; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
	/* Optional: show position indicator in red */
	::-webkit-scrollbar-thumb {
		background: #ff0000;
	}
}

.MuiPaper-root {
	background: #141418 !important;
}
