.MuiBadge-badge {
	background: #4ea688;
}

p {
	font-size: 0.8rem;
}

.medium {
	width: 55px !important;
	height: 55px !important;
}

.large {
	width: 75px !important;
	height: 75px !important;

	p {
		font-size: 1.2rem !important;
	}
}
